<footer>
    <div class="footer">
        <p class="text-center">All Right Reserved &copy; Aakash & Maitri</p>
        <p class="text-center mt-3">
        Privacy Policy
        </p>
    </div>
</footer>