<div class="about pageStyle">
  <h1 class="text-center">About ShareBite</h1>
  <div class="container">
    <section class="sectionStyle">
      <h2>Our Mission</h2>
      <p>
        ShareBite is committed to the dual mission of reducing food waste and
        combating hunger. Our platform empowers food donors and volunteers to
        work together, ensuring that surplus food reaches those who need it
        most.
      </p>
    </section>

    <section class="sectionStyle">
      <h2>Our Story</h2>
      <p>
        ShareBite was founded in 2023 by a group of like-minded individuals who
        wanted to make a positive impact on their community. Since our
        inception, we've worked tirelessly to bridge the gap between food
        surplus and food insecurity.
      </p>
    </section>

    <section class="imageSection sectionStyle">
      <h2>Meet Our Team</h2>
      <div class="row">
        <div class="col-md-6 mb-4">
          <div class="card">
            <img
              src="/assets/images/Aakash1.jpg"
              alt="Team Member 1"
              class="card-img-top"
            />
            <div class="card-body text-center">
              <h5 class="card-title">Aakash Deep</h5>
              <p class="card-text">Founder & CEO</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="card">
            <img
              src="/assets/images/maitri.jpg"
              alt="Team Member 2"
              class="card-img-top"
            />
            <div class="card-body text-center">
              <h5 class="card-title">Maitri Rautela</h5>
              <p class="card-text">Founder & CEO</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="sectionStyle">
      <h2>Our Impact</h2>
      <p>
        Over time, ShareBite has successfully redistributed millions of pounds
        of surplus food, helping countless individuals and families access
        nutritious meals. Our commitment to sustainability and social
        responsibility remains unwavering.
      </p>
    </section>
  </div>
</div>
