<div>
  <div class="homepage">
    <header class="text-center hph">
      <img
        src="/assets/images/f2.jpg"
        alt="About Us"
        class="img-fluid rounded im"
        style="max-height: 400px"
      />
      <h1>Welcome to ShareBite</h1>
      <p className="lead">Your Partner in Fighting Food Waste</p>
    </header>
  </div>

  <section class="container my-5">
    <div class="row">
      <div class="col-md-6">
        <img
          src="/assets/images/f1.jpg"
          alt="About Us"
          class="img-fluid rounded"
        />
      </div>
      <div class="col-md-6">
        <h2>Reducing Food Waste, Nourishing Communities</h2>
        <p>
          At ShareBite, we believe in a world where no edible food goes to waste
          and where every meal can make a difference. We are dedicated to the
          mission of fighting food waste and hunger simultaneously, connecting
          surplus food with those in need. ShareBite is not just a website; it's
          a movement, a platform, and a community of passionate individuals and
          organizations committed to creating positive change in the way we
          handle food.
        </p>
        <h3>Our Mission</h3>
        <p>
          Our mission is clear: reduce food waste, alleviate hunger, and promote
          sustainability. Every day, countless pounds of perfectly good food go
          to waste, while many individuals and families struggle to put a meal
          on the table. ShareBite bridges this gap by bringing together food
          donors, volunteers, and recipients, ensuring that surplus food reaches
          those who need it the most.
        </p>
      </div>
    </div>
  </section>

  <section class="container bg-light p-4">
    <h2 class="text-center">How It Works</h2>
    <div class="row">
      <div class="col-md-4">
        <h3>Donors</h3>
        <p>List surplus food.</p>
      </div>
      <div class="col-md-4">
        <h3>Volunteers</h3>
        <p>Pick up and deliver food.</p>
      </div>
      <div class="col-md-4">
        <h3>Recipients</h3>
        <p>Receive nutritious meals.</p>
      </div>
    </div>
  </section>

  <section class="container text-center my-5">
    <h2>Get Involved</h2>
    <p>
      Join us in our mission to reduce food waste and alleviate hunger. Sign up
      as a donor, volunteer, or recipient today.
    </p>
  </section>
</div>
